body {
  padding-top: 86px;
}

/* Header */
:root {
  /* Colors : Header */
  --backgroundColor: #FFD700;
  --activeLinks: #ffffff;
  --textShadow: #000000;
  --links: #FFEB3B;
  --faqBackground: #fff383;
  --linkHover: #212121;
  --hoverEffects: #212121;
  --titleColor: #0D47A1;
  --titleColorOne: #0d48a1ab;
  --heroText: #E3E3E3;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --serviceBackground: #dff3ff;
}

* {
  font-family: var(--fFamily);
  font-optical-sizing: var(--foSizing);
  font-weight: var(--fWeight);
  font-style: var(--fStyle);
  font-variation-settings: var(--fvSettings);
}

.WSHeader {
  background-color: var(--backgroundColor) !important;
  box-shadow: 0px 2px 5px rgb(158, 158, 158);
}

.CLogo img {
  max-width: 60px;
}

.OCBody {
  background-color: var(--backgroundColor) !important;
}

.OCTitle {
  color: var(--titleColor);
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px var(--hoverEffects);
}

.OCBody .NLinks .nav-item a {
  color: var(--activeLinks);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-shadow: 2px 2px 3px var(--textShadow);
  position: relative;
  transition: color 0.3s ease-in-out;
}

.OCBody .NLinks .nav-item a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, var(--hoverEffects), var(--hoverEffects));
  transition: all 200ms ease-in-out;
  transform: translateX(-50%);
}

.OCBody .NLinks .nav-item a:hover {
  color: var(--linkHover);
  text-shadow: 1px 1px 2px var(--linkHover);
}

.OCBody .NLinks .nav-item a:hover::before {
  width: 100%;
}

.OCBody .NLinks .nav-item a:active {
  color: var(--backgroundColor);
}

.ULogin li {
  display: flex;
  align-items: center;
}

.ULogin li a {
  color: var(--titleColor);
  font-weight: 500;
  text-decoration: none;
  border: 2px solid var(--titleColor);
  border-radius: 5px;
  padding: 7px 14px 7px 14px;
  transition: all 200ms;
}

.ULogin li a:hover {
  color: var(--activeLinks);
  background-color: var(--titleColor);
  text-shadow: 1px 1px 2px var(--textShadow);
}

.ULogin li a:active {
  color: var(--linkHover);
  background-color: var(--links);
  border: 2px solid var(--links);
}

/* Footer */
:root {
  /* Colors : Footer */
  --blackColor: #212121;
  --bgColorOne: #0D47A1;
  --bgColorTwo: #FF9800;
  --text: #FFFFFF;
  --links: #FFEB3B;
  --hoverEffects: #424242;

  /* Fonts : Footer */
  --fFamily: "Roboto", sans-serif;
  --foSizing: auto;
  --fWeight: 400;
  --fStyle: normal;
  --fvSettings: "wdth" 100;
}

* {
  font-family: var(--fFamily);
  font-optical-sizing: var(--foSizing);
  font-weight: var(--fWeight);
  font-style: var(--fStyle);
  font-variation-settings: var(--fvSettings);
}

.WSFooter {
  background-color: rgb(20, 20, 20);
}

.WSFooter .FTitle {
  font-size: 2rem;
  color: var(--titleColor);
  transition: 200ms;
}

.WSFooter .FSLinks .social-icon i {
  font-size: 1.3rem;
  color: var(--titleColor);
  /* text-shadow: 3px 3px 4px var(--hoverEffects); */
  transition: 200ms;
}

.WSFooter .FSLinks .social-icon i:hover {
  color: var(--backgroundColor);
}

.WSFooter .DWSLink {
  color: var(--titleColor);
  transition: all 200ms;
}

.WSFooter .DWSLink:hover {
  color: var(--backgroundColor);
}


/* --------------(Page Content)---------------- */

.Parallax {
  background-image: url("/background.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

@media (max-width: 1280px) {
  .Parallax {
    height: 90vh;
  }
}

@media (max-width: 1020px) {
  .Parallax {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .Parallax {
    height: 80vh;
  }
}

@media (max-width: 480px) {
  .Parallax {
    height: 90vh;
  }
}

@media (max-width: 380px) {
  .Parallax {
    height: 115vh;
  }
}

.Overaly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.HSLogo {
  width: 200px;
}

.HSTitle {
  color: var(--activeLinks);
  font-size: clamp(26px, 4vw, 36px);
}

.HSSTitle {
  color: var(--backgroundColor);
  font-size: clamp(18px, 3vw, 24px);
}

.HSMessage {
  color: var(--heroText);
  font-size: clamp(14px, 2vw, 16px);
}

.TDetails {
  position: relative;
  z-index: 2;
  text-align: center;
}

.CDetails {
  text-align: center;
  margin: auto;
}

.CDetails {
  text-align: center;
  border-radius: 8px;
  padding: 25px;
  margin: auto;
}

.TOrder {
  text-align: center;
  border: 1px solid var(--hoverEffects);
  padding: 25px;
  margin: auto;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.TOrder .TOTitle {
  color: var(--activeLinks);
  font-weight: 400;
}

.TOrder .TOInput {
  background-color: var(--activeLinks);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.TOrder .TOButton {
  color: var(--linkHover);
  font-weight: 500;
  width: 100%;
  background-color: var(--backgroundColor);
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  transition: all 200ms;
}

.TOrder .TOButton:hover {
  background-color: var(--links);
  color: var(--linkHover);
}

.TOrder .TOButton:active {
  color: var(--activeLinks);
  background-color: var(--backgroundColor) !important;
}

/* About Us */
.AUs .AUHeader {
  background: linear-gradient(135deg, var(--backgroundColor), var(--backgroundColor));
}

.AUs .AUTitle {
  color: var(--hoverEffects);
}

.AUs .AUContainer .AUContent {
  background-color: var(--activeLinks);
  max-width: 900px;
  margin-top: -60px;
  box-shadow: 2px 2px 4px var(--hoverEffects);
}

.AUs .AUContainer .AUContent .AUImage {
  max-width: 320px;
}

.AUs .AUText .STitle {
  color: var(--backgroundColor) !important;
}

/* Services */
.Services {
  background-color: var(--activeLinks);
}

.Services .STitle {
  font-weight: bold;
  text-align: center;
}

.Services .SMessage {
  color: var(--blackColor);
  text-align: center;
}

.ICarousel .Overaly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.Services .ICarousel .Slides {
  border: 1px solid var(--hoverEffects);
  box-shadow: 2px 2px 4px var(--hoverEffects);
}

.ICarousel .Slides div {
  max-height: 500px !important;
}

.ICarousel .Slides h4 {
  color: var(--activeLinks);
}

.ICarousel .Slides p {
  color: var(--backgroundColor);
}

/* FAQs */
.accordion-button:focus,
.accordion-button:not(.collapsed) {
  box-shadow: none !important;
  outline: none !important;
  background-color: var(--faqBackground) !important;
  color: inherit !important;
}

/* Contact Us */
.CUs .CUForm {
  border: 1px solid gray;
  box-shadow: 1px 1px 2px var(--hoverEffects);
}

.CUs .CInformation {
  border: 1px solid gray;
  box-shadow: 1px 1px 2px var(--hoverEffects);
}

.CUs .CUForm .Button {
  color: var(--linkHover);
  font-weight: 500;
  background-color: var(--backgroundColor);
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  transition: all 200ms;
}

.CUs .CUForm .Button:hover {
  background-color: var(--links);
  color: var(--linkHover);
}

.CUs .CUForm .Button:active {
  color: var(--activeLinks);
  background-color: var(--backgroundColor) !important;
}

.CUs .CInformation .SIcons a {
  color: var(--blackColor);
  font-size: 18px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: var(--backgroundColor);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
}

.CUs .CInformation .SIcons a:hover {
  background: var(--links);
  scale: 1.05;
}

/* WhatsApp */
.WhatsApp {
  color: white;
  font-weight: bold;
  text-decoration: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25D366;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  bottom: 20px;
  right: 20px;
  box-shadow: 2px 2px 3px var(--hoverEffects);
  transition: all 300ms ease-in-out;
}

.WhatsApp i {
  font-size: 1.5rem;
}

.WhatsApp:hover {
  scale: 1.05;
  background-color: #1ebe26;
}

@media (max-width: 768px) {
  .WhatsApp i {
    font-size: 1.5rem;
  }
}