:root {
  /* Colors */
  --backgroundColor: #FFD700;
  --activeLinks: #ffffff;
  --textShadow: #000000;
  --links: #FFEB3B;
  --faqBackground: #fff383;
  --linkHover: #212121;
  --hoverEffects: #212121;
  --titleColor: #0D47A1;
  --titleColorOne: #0d48a1ab;
  --heroText: #E3E3E3;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --serviceBackground: #dff3ff;
  --blackColor: #212121;
  --bgColorOne: #0D47A1;
  --bgColorTwo: #FF9800;
  --text: #FFFFFF;
  --links: #FFEB3B;
  --hoverEffects: #424242;
  --bodyBackground: #f4f7fc;

  /* Fonts */
  --fFamily: "Roboto", sans-serif;
  --foSizing: auto;
  --fWeight: 400;
  --fStyle: normal;
  --fvSettings: "wdth" 100;
}

body {
  padding-top: 86px;
  background-color: var(--bodyBackground) !important;

}

* {
  font-family: var(--fFamily);
  font-optical-sizing: var(--foSizing);
  font-weight: var(--fWeight);
  font-style: var(--fStyle);
  font-variation-settings: var(--fvSettings);
}

/* Sign Up */
.Content .FContainer {
  background-color: var(--activeLinks);
  box-shadow: 2px 2px 4px var(--hoverEffects);
}

.Content .FContainer .LButton {
  color: var(--titleColor);
  font-weight: 600 !important;
  border: 2px solid var(--titleColor);
  background-color: var(--whiteColor);
  transition: all 200ms;
}

.Content .FContainer .LButton:hover {
  color: var(--whiteColor);
  background-color: var(--titleColor);
  border: 2px solid var(--titleColor);
}

.Content .FContainer .LButton:active {
  background-color: var(--links);
}