:root {
  /* Colors */
  --backgroundColor: #FFD700;
  --activeLinks: #ffffff;
  --textShadow: #000000;
  --links: #FFEB3B;
  --faqBackground: #fff383;
  --linkHover: #212121;
  --hoverEffects: #212121;
  --titleColor: #0D47A1;
  --titleColorOne: #0d48a1ab;
  --heroText: #E3E3E3;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --serviceBackground: #dff3ff;
  --blackColor: #212121;
  --bgColorOne: #0D47A1;
  --bgColorTwo: #FF9800;
  --text: #FFFFFF;
  --links: #FFEB3B;
  --hoverEffects: #424242;
  --bodyBackground: #f4f7fc;

  /* Fonts */
  --fFamily: "Roboto", sans-serif;
  --foSizing: auto;
  --fWeight: 400;
  --fStyle: normal;
  --fvSettings: "wdth" 100;
}

body {
  padding-top: 86px;
  background-color: var(--bodyBackground) !important;

}

* {
  font-family: var(--fFamily);
  font-optical-sizing: var(--foSizing);
  font-weight: var(--fWeight);
  font-style: var(--fStyle);
  font-variation-settings: var(--fvSettings);
}

/* Calculator */
.Calculator .Header {
  background: linear-gradient(135deg, var(--links), var(--links));
}

.Calculator .Header .Title {
  font-size: 2rem;
  color: var(--blackColor);
}

.Calculator .Header .Text {
  font-size: 1.05rem;
  color: var(--blackColor);
}

.Calculator .Content .CContainer {
  background-color: var(--activeLinks);
  margin-top: -60px;
  box-shadow: 2px 2px 4px var(--hoverEffects);
}

.Calculator .Content .CContainer .CPButton {
  color: var(--blackColor);
  font-weight: 500 !important;
  border: 1px solid var(--hoverEffects);
  background-color: var(--links);
  transition: all 200ms;
}

.Calculator .Content .CContainer .CPButton:hover {
  background-color: var(--backgroundColor);
}

.Calculator .Content .CContainer .CPButton:active {
  background-color: var(--links);
}

.Calculator .CContainer .POButton {
  color: var(--backgroundColor);
  font-weight: 600 !important;
  border: 1px solid var(--backgroundColor);
  background-color: var(--link);
  transition: all 200ms;
}

.Calculator .CContainer .POButton:hover {
  color: var(--hoverEffects);
  background-color: var(--faqBackground);
}

.Calculator .CContainer .POButton:active {
  background-color: var(--activeLinks);
}

.TCost {
  font-size: 1.5rem;
  font-weight: bold;
  color: #28a745;
}